<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Listado de estudiantes</title>
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<?php include '../templates/shared/menu.html'; ?>
<!-- container -->
<div class="container mt-4">
  <?php include 'usuario.html'; ?>

  <?php include 'listado.html'; ?>
</div>

<script src="/assets/js/bootstrap.bundle.min.js"></script>
</body>
</html>
